html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color:var(--background-color);
    font-family: 'Kumbh Sans', sans-serif;
}

.section{
    position: relative;
    display: flex;
}

.img-bot,.img-top{
    position: fixed;
    display: flex;
    justify-content: center;
}

.img-top img{
    position: absolute;
    bottom: -220px;
    right: -180px;

}

.img-bot img{
    position: absolute;
    top: 160px;
    left: 100px;
}


.conteudo{
    width: 300px;
    height: 320px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
}

.vic img{
    border: 4px solid #fff;
    position: absolute;
    left: 105px;
    border-radius: 50%;
    width: 30%;
    top: 60px;

}


.card-top .img-c{
    width: 300px;
    max-height: 110px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


.card-top ul,li {
    display: flex;
    font-weight: 600;
    margin: 30px auto 5px auto;
    color: var(--h-color);
}

.card-top ul p {
    margin-left: 8px;
    background-color: #fff;
    color: hsl(227, 10%, 46%);
    font-size: 16px;

}

.card-top p{
    background-color: #fff;
    color: hsl(227, 10%, 46%);
    font-size: 14px;
}

hr{
    width: 100%;
    position: absolute;
    bottom: 70px;
    opacity: 0.2;
}

.stats {
    display:flex;
    justify-content: center;
    margin-top: 25px;
    
}

.stats ul{
    display:flex;
    gap: 40px;
}

.stats ul li {
    flex-direction: column;
    text-align: center;
}

.stats p{
    background-color: #fff;
    color: hsl(227, 10%, 46%);
    font-weight: 100;
    font-size: 8px;
    letter-spacing: 1px;
}

